.MainComponent{
    /* align-items: center;
    justify-content: space-around; */
    
    padding-top:50px;
    padding-left: 50px;
    font-size:40px;
    width : 1500px;
    
    }
    
    .AllHotelImages{
    
        align-items: center;
        justify-content: stretch; 
        padding: 50px;
        
    
    }
    
    .AiraXing{
        max-height:300px;
        max-width:300px;
    
    }
    .AiraXingImage{
    
           height: 100%;
        width: 100%; 
        object-fit: contain;
    
    }
    
    .JaiBalaji{
        max-height:300px;
        max-width:300px;
    
    }
    .JaiBalajiImage{
     
              height: 100%;
        width: 100%; 
        object-fit: contain;
    
    }
    
    .PinkyVilla{
        max-height:300px;
        max-width:300px;
    
    }
    .PinkyVillaImage{
        /* padding-left: 70px; */
        height: 100%;
        width: 100%;
        object-fit: contain;
    
    }
    
    .JyotiMahal{
        max-height:300px;
        max-width:300px;
    
    }
    .JyotiMahalImage{
        /* padding-left: 60px;
         */
         height: 100%;
         width: 100%;
         object-fit: contain;
     
    
    }
    
    .textRow{
    
    
        align-items: center;
        justify-content: stretch; 
        font-size: 20px;
    }
    
    /* .row{
    
     font-size: 22px;
     margin-top:30px;
     max-height: 100px;
     max-width: 300px;
     font-family:  verdana , sans-serif;
     color: #54595F;
     padding-left : 50px;
     font-family: 'DM Serif Display';
   
 
    } */
    
    .HotelNames{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size:60px;
    
    }
    
    .AllHotelImages{
    
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .textRow{
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    
    }
    
    .allCards{
    
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        margin-left: 120px;
    margin-right: 120px; 
    
    }
    
    .hotel{
    
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
     
    
    }
    
    .hotelName{
    
        font-size: 42px;
        font-size: 3rem;
        font-family: 'DM Serif Display',serif;
        line-height: 1.1;
        text-transform: none;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        margin-bottom:20px;
    }
    
    
    
    .glow-on-hover {
        width: 220px;
        height: 50px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
        margin-right:60px;
        margin-top :40px;
       
    }
    
    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }
    
    .glow-on-hover:active {
        color: #000
    }
    
    .glow-on-hover:active:after {
        background: transparent;
    }
    
    .glow-on-hover:hover:before {
        opacity: 1;
    }
    
    .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }
    
    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }