.normalText{

color: black;

font-size: 50px;
padding-left: 50px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-family: 'DM Serif Display',serif;
font-style: bold;
}

.line{

width: 90%;
text-align:right;
border-width:20;
border-top: 3px dashed black;

}

*{
    -ms-overflow-style: none;
  }
  ::-webkit-scrollbar {
    display: none;
  } 
