

.logo{

  padding-top: 30px;
  padding-right: 30px;
  
  padding-left: 30px;

}

.dropDown{
  font-size:20px;
  
  font: impact;
  color: white;
}

/* .dropDown:hover {

  background-color: coral;
} */

.navbar{
/* background-color: white;
height : 10vh; */
display: flex;
align-items: center;
justify-content: space-around;


}

.Book {
  padding: top 30px;
  height: 30px;
  width: 60px;
  border: 2px dashed coral;
  /* align-items: center; */
  text-align: center;
  font: impact;

  color: black;
  background: orange;
  display: block;
  float: left;
  padding: 1rem;
  /* position: relative; */
  
  transition-duration: 0.5s;
  font-size: 20px;

}

.TourPackage{
font-size:20px;

font: impact;
}

.Membership{
  font-size:20px;
  
  font: impact;
  }

  .Blogs{
    font-size:20px;
  
    font: impact;
  }

  .Contacts{

    font-size:20px;
  
  font: impact;
  }

  .MyAccount{

    font-size:20px;
  
    font: impact;

  }